.column1 {
  width: 800px;
  float: left;
  text-align: center;
}

.column2 {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.column3 {
  width: 600px;
  float: right;
  text-align: center;
}
